<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="google-site-verification" content="NlLaJrrpoSvilYZXeraZYq6WZE9peBc_O3FxI5-4fJo" />
  <meta name="author" content="Sangwin Gawande | Full Stack Developer">
  <meta property="og:url" content="https://www.facebook.com/imsangwin">
  <meta property="title" content="Sangwin Gawande | Full Stack Developer ">
  <meta property="og:title" content="Sangwin Gawande | Full Stack Developer ">
  <meta name="keywords"
    content="sangwin, gawande, developer, web, mobile, development, android, ios, freelancer, website, angular, html, css, software, ionic, applications, nagpur">
  <link rel="icon" type="image/png" href="assets/images/avatar.png">
  <meta name="description"
    content="A Full Stack Developer with experience in building Websites, Web applications as well as Mobile applications. I am also a music freak & an ardent traveller.">
  <meta property="og:site_name" content="https://www.sangw.in">
  <meta property="og:type" content="website">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a target="_blank" href="https://www.sangw.in">About</a></li>
      <li><a target="_blank" href="https://sangw.in/Sangwin-Gawande-CV.pdf">My CV</a></li>
    </ul>
  </nav> {{ content }} <footer>
    <ul>
      <li><a href="mailto:imsangwin@gmail.com">Email Me</a></li>
      <li><a target="_blank" href="https://github.com/sangwin">GitHub</a></li>
      <li><a target="_blank" href="https://in.linkedin.com/in/sangwin">LinkedIn</a></li>
      <li><a target="_blank" href="https://www.facebook.com/imsangwin">Facebook</a></li>
      <li><a target="_blank" href="https://stackoverflow.com/users/5765795/sangwin-gawande">StackOverflow</a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCcSEmzwInXsFebQlTU2hZgA">YouTube</a></li>
    </ul>
  </footer>
</body>

</html>
